body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.navbar {
  max-width: 100%;
  height: 20%;
  background-color: aqua;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}
/* .content {
  width: 100%;
  height: 60%;
  background-color: rosybrown;
  display: inline-block;
  margin: auto;
} */
.contente1 {
  /* background-color: rgb(230, 138, 63);
  border: 1px solid red;
  
  margin: 10px;
  float: left;
  width: 30%; */
  border: 1px solid red;
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.footer {
  width: 100%;
  height: 20%;
  background-color: rgb(51, 255, 0);
  position: fixed;
  bottom: 0px;
}
