h1 {
  color: black;
}
.hide {
  display: none;
}
button {
  color: antiquewhite;
  background-color: #808080;
  outline: none;
}
#Aboutparagraph {
  border: 1px solid black;
  width: 30%;
  padding: 10px;
  margin: 10px;
}
